@import "../forAll"
    

nav
    position: fixed

    .navbar-brand
        img
            width: 60px
            height: 60px 

.header-wrapper__contact
    display: flex
    flex-direction: column
    
    a
        color: #0de3ac